/* General body styling */
body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Styling for the "yahrght.net" heading */
h1 {
    color: black;
    font-size: 3rem;
    font-weight: 400; /* Make "yahrght.net" thicker */
}

/* Styling for the "cheering" link */
p a {
    font-size: 1.5rem; /* Make "cheering" smaller */
    font-weight: 300;  /* Make "cheering" thinner */
    color: black;      /* Keep the text black */
    text-decoration: none; /* Remove underline */
}

p a:hover {
    text-decoration: underline; /* Add underline on hover */
}

/* General banner styling */
.scrolling-banner {
    width: 100%; /* Full width */
    background-color: #ffcc00; /* Ticket-like yellow background */
    color: #333; /* Dark text color for contrast */
    padding: 10px 0; /* Padding around the text */
    font-size: 18px; /* Adjust the font size */
    font-weight: bold; /* Bold text */
    overflow: hidden; /* Hide the overflow of the moving text */
    box-shadow: 0 4px 2px -2px gray; /* Shadow for a raised effect */
    position: fixed;
    z-index: 1000;
}

/* Top banner */
.scrolling-banner {
    top: 0;
}

/* Bottom banner */
.bottom-banner {
    bottom: 0;
}

/* Inner text that scrolls */
.scrolling-banner p {
    display: inline-block;
    white-space: nowrap; /* Prevents text from wrapping */
    animation: scroll-text 15s linear infinite; /* Infinite scrolling animation
