
body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #f0ead6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


h1 {
    color: black;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

p a:visited {
    color: black; 
}

.subheading {
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
}


p {
    color: black;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


p a {
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.3s;
    margin: 5px;
}


p a.color1 { color: #b30000; }
p a.color2 { color: #003366; }
p a.color3 { color: #b38f00; }


p a:hover {
    text-decoration: underline;
}


iframe {
    aspect-ratio: 16 / 9;    
    width: 100%;             
    height: auto;          
    max-width: 640px;       
    max-height: 360px;     
    margin-bottom: 40px;
}


@media only screen and (max-width: 600px) {
    body {
        justify-content: flex-start;
        padding: 10px; 
    }

    h1 {
        font-size: 2.5rem; 
    }

    .subheading {
        font-size: 1.2rem; 
    }

    p {
        font-size: 1rem; 
        max-width: 90%; 
    }

    iframe {
        width: 100%; 
    }
}
