/* Basic CSS for cheering */
body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #f0ead6; /* Light eggshell color */
    color: #333; /* Dark text color */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: black; /* Set text color to black */
}
