
body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #f0ead6; 
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: black;
}


.video-placeholder {
    width: 100%;
    max-width: 800px; 
    height: auto;
    margin: 0 auto; 
    display: block;
}


.description {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    color: #333; 
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem; 
    }

    .video-placeholder {
        max-width: 100%; 
    }

    .description {
        font-size: 1rem; 
    }
}
